<h1>たかぎの部屋</h1>


<%= link_to 'メッセージを書く', new_message_path %>
<br />
<br />

<table>
  <!--tr>
    <th>Userid</th>
    <th>Body</th>
    <th>日付</th>
    <th></th>
    <th></th>
    <th></th>
  </tr-->

<% @messages.reverse.each do |message| %>
  <tr>
    <!--td><%= message.userid %></td-->
    	<% case message.userid
			when 1 then %>
	<td style="vertical-align: top; width: 5px">
   		<%= image_tag 'ineko3b.gif' %>
   	</td>
    <td style="vertical-align: top; color: #FF69B4">
		<%= message.body %>
    </td>
    	<% when 2 then %>
	<td style="vertical-align: top">
   		<%= image_tag 'iuki1d.gif' %>
   	</td>
    <td style="vertical-align: top; color: blue">
    	<%= message.body %>
    </td>
    	<% else %>
    	<td colspan="2">
    		error message.userid=<%= message.userid %>
    	</td>
    	<%	end %>
    <td style="vertical-align: top"><%= message.created_at.strftime("%Y年%m月%d日, %H:%M:%S") %></td>
    <!--td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>


