<p id="notice"><%= notice %></p>

<!--p>
  <strong>Userid:</strong>
  <%= @message.userid %>
</p-->

<p>
  <strong>メッセージ:</strong>
  <%= simple_format(h(@message.body)) %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
