<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<div id="user_nav">
  <% if not session[:user_id].nil? %>
    <%= link_to '~C~B~B~B~C~H', session_path(1), :method => :delete %>
  <% end %>
</div>

    <%= yield %>
  </body>
</html>
