<!DOCTYPE html>
<html>
<head>
  <title>Taka</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">  
  <% if session[:user_id] != 1 and session[:user_id] != 2 %>  
  <% else %>  
    <%= link_to 'ログアウト', session_path(1), :method => :delete %>
  <% end %>  
</div>  

<%= yield %>

</body>
</html>
