<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/taka/">憩の部屋</a>

  <!--div class="collapse navbar-collapse" id="navbarSupportedContent"-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/taka/">Home</a>
      </li>
      <li class="nav-item">
        <% if not session[:user_id].nil? %>
          <%= link_to 'ログアウト', session_path(1), class: "nav-link", :method => :delete %>
        <% end %>
      </li>
    </ul>
  <!--/div-->
</nav>
  
  <div class="container">
  
    <%= yield %>

  </div>

  </body>
</html>
